body {
    background-image: url("forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#container {
    position: relative;
}

#coming-soon {
    position: absolute;
    top: 50%
    width: 100%;
    text-align: center;
}

#footer {
    position: ;
 }

a:link {
    color: white;
}

a:visited {
    color: #a9a9a9;
}

a:hover {
    color: darkseagreen;
}

a:active {
    color: white;
}

